*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background: url(../images/fundo.png) repeat-x;
}

/**
 * Layout 
 */

.container {
    width: 55.1470588235%;
    margin: 0 auto;
}

header {
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -30000px;
}